.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
column-gap: 10px;
}
#editor {
height: 100%;
box-sizing: border-box;
resize: none;
overflow: auto;
width: 100%;
color: #96b38a;
background-color: #252529;
border: solid 1px black;
}
#preview {
height: 100%;
box-sizing: border-box;
border: solid 1px black;
overflow: auto;
}
img {
width: 20px;
}
.title {
border: solid 1px black;
text-align: center;
background-color: #444857;
color: white;
font: bold;
}